<ion-modal-view>

<ion-header-bar class="sub-head bar-dark" style="position:relative;" >
    <button class="button button-clear button-positive" style="position:relative; width:auto;display:inline;" ng-click="cancelConfirm()">
  <i class="ion-android-cancel" style="font-size:32px; padding-left:8px; position:absolute; color:white;text-align:center;top:0px;"> </i>
</button>
 <p class = "title" style="position:absolute;text-align:left;padding-left:25px "> {{AppUserInformation.SelProgName}}</p>
 
    </ion-header-bar>

<ion-content>


<ion-list>
<ion-item class="item item-avatar" ng-repeat="item in cards.master" ng-click="OnConfirmChange(item)">
  
  <img image="{{rootAvatarPath + item.avatar}}">
  

   <ion-label> {{item.name}} </ion-label>
   <i ng-show="item.present" class= "button-clear ion-thumbsup" style = "font-size: 30px;color:#32cd32;position:absolute;right:15px;">
   </i>
   
   <i ng-show="!item.present" class="ion-thumbsdown" style = "font-size: 30px;color:red;position:absolute;right:15px;"></i>

<br/>

</ion-item>
 </ion-list>

 </ion-content>
</ion-modal-view>  