<ion-view view-title="Account" ng-controller="AttendanceCtrl">
<ion-header-bar class="sub-head" style="height:auto; background-color:  #00FFFF;">
    <i class="ion-ios-close-empty" style="font-size:46px; color:red;padding-left:15px;" ng-click="rootGoBack()"> </i>
    </ion-header-bar>
  <ion-content >
   

  </ion-content>
  
  <div ng-if = "AppUserInformation.WritePriv == true">
  <ion-floating-button click="OnComposeClick()" has-footer="false" button-color="#2AC9AA" icon="ion-edit" icon-color="#fff">
 
  </ion-floating-button>
  </div>
  
</ion-view>