<ion-modal-view view-title="Channel Selection" >
  <ion-header-bar class="sub-head bar-dark" style="position:relative;" >
    <button class="button button-clear button-positive" style="position:relative; width:auto;display:inline;" ng-click="OnCancelChannelSel()">
  <i class="ion-ios-close-empty" style="font-size:46px; padding-left:8px; position:absolute; color:white;text-align:center;top:-5px;"> </i>
</button>

<button class="button button-clear button-positive" style="position:absolute; right:45px; width:auto;display:inline;" ng-click="OnOkChannelSel()">
  <i class="ion-android-done" style="font-size:46px; padding-right:25px; position:absolute; color:white;text-align:center;top:-3px;transform: rotate(20deg);"> </i>
</button>


    </ion-header-bar>

 <ion-header-bar class="sub-head" style="height:auto; background-color:  rgba(0,212,205,1);">
      
        <i class="ion-ios-close-empty" style="font-size:46px; color:red;padding-left:15px;" ng-click="OnCancelChannelSel()"> </i>
        <i class="ion-android-done" style="font-size:46px; color:green;position:absolute;right:15px;" ng-click="OnOkChannelSel()"> </i>
       
    </ion-header-bar>

    <ion-content padding="true" overflow-scroll="false">

 <ion-checkbox ng-model="AllChannels.checked" ng-change = "OnAllClick()">All</ion-checkbox>

 <div style = "border-style: solid; border-width: 2px;color:grey;">
  <div ng-repeat="item in Channels">
    <ion-checkbox ng-model="item.ischecked">{{item.Title}}</ion-checkbox> 
  </div>

</div>
    </ion-content>
     </ion-modal-view>
