<ion-view view-title="Dashboard App">
  <ion-content >
    
  <div ng-if="AppUserInformation.SelProgram=='51-npsbsk'" >
  <div ng-controller='RadioCtrl'>
 <h1> bye <h1>
  <h1> bye <h1>
   <h1> bye <h1>
 <br>
 <h1> bye <h1>
  </div>
  </div>


<!--  <div ng-if="AppUserInformation.SelProgram==14" >
  <div ng-controller='profileCtrl'>

  hello
  </div>
  </div> -->
  


  </div>
  
   <div ng-if="AppUserInformation.SelProgram=='52-npsbsk'" >
  <div ng-controller='DiaryCtrl'>


   <div class="card">
   <div class="item item-avatar">
      <img ng-src="{{data.Avatar}}">
      <h2> ting tong <h2>
      <h3> doink </h3>
        <h4>dkjf;akl</h4>
   </div>

   <div class="item item-body">
      <img class="full-image" src="{{data.Image}}">
 
    <break>
    <div>
     <a style="text-align:right;"> read more .. 
  </a>
</div>
</div>
</div>
</div>
  </div>



  </div>
  
   <div ng-if="AppUserInformation.SelProgram=='53-npsbsk'" >
  <div ng-controller=TimetableCtrl>

  bye
  </div>
  </div>


  </div>
  
   <div ng-if="AppUserInformation.SelProgram=='54-npsbsk'">
  <div no-scroll >


    <div ng-controller="CardsCtrl" class="background-grey" >

      <div class="td-title">
        <div class="row">
          <div class="col">Master: <span>{{ cards.master.length }}</span></div>
          <div class="col">Cards: <span>{{ cards.active.length }}</span></div>
          <div class="col">Discards: <span>{{ cards.discards.length }}</span></div>
        </div>
        <div class="row">
          <div class="col">Liked: <span>{{ cards.liked.length }}</span></div>
          <div class="col">Disliked: <span>{{ cards.disliked.length }}</span></div>
        </div>
      </div>


      <!-- *************************
        TD Cards
        - We start off with an ng-if so that the cards are not generated
          unless $scope.cards is not 'null'
      ************************* -->
      <div ng-if="cards.active">
        <td-cards>
          <td-card ng-repeat="card in cards.active" on-destroy="cardDestroyed($index)" on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)">
            <div class="image" ng-controller="CardCtrl">
              <div class="no-text"><i class="icon ion-thumbsdown"></i></div>
              <div class="yes-text"><i class="icon ion-thumbsup"></i></div>
              <!-- *************************
                Discard
                - The card is removed from the deck and a fly away animation is triggered.
                - onClickTransitionOut is found in ionic.tdcards.js
                - Animation can be customized by changing defaults
              ************************* -->
              <div class="discard" ng-click="onClickTransitionOut(card)">DISCARD</div>
              <img ng-src="{{ card.image }}">
            </div>
          </td-card>
          <!-- *************************
            End Card
            - 'drag' is set to false. The user cannot drag it.
            - 'refreshCards()' reloads all cards that have NOT been discarded.
          ************************* -->
          <td-card id="end-card" drag="false">
            <i class="icon ion-ios-refresh disable-user-behavior" ng-click="refreshCards()"></i>
          </td-card>
        </td-cards>
      </div>

 </div>
 
  </div>
  </div>


  </div>
  
   <div ng-if="AppUserInformation.SelProgram=='55-npsbsk'" >
  <div ng-controller=GalleryCtrl>

  bye
  </div>
  </div>

  </div>
  
   <div ng-if="AppUserInformation.SelProgram=='56-npsbsk'" >
  <div ng-controller=MessagesCtrl>

  bye
  </div>
  </div>

  </div>
  
   <div ng-if="AppUserInformation.SelProgram=='57-npsbsk'" >
  <div ng-controller=CalendarCtrl>

  bye
  </div>
  </div>

  </div>
  
   <div ng-if="AppUserInformation.SelProgram=='58-npsbsk'" >
  <div ng-controller=NoticeboardCtrl>

  bye
  </div>
  </div>


  </div>
  
   <div ng-if="AppUserInformation.SelProgram=='59-npsbsk'" >
  <div ng-controller=OnlineCtrl>

  bye
  </div>
  </div>

  </div>
  
   <div ng-if="AppUserInformation.SelProgram=='60-npsbsk'" >
  <div ng-controller=SurveyCtrl>

  bye
  </div>
  </div>


  </div>
  
   <div ng-if="AppUserInformation.SelProgram=='61-npsbsk'" >
  <div ng-controller=AssignmentsCtrl>

  bye
  </div>
  </div>

  </div>
  
   <div ng-if="AppUserInformation.SelProgram=='62-npsbsk'" >
  <div ng-controller="SyllabusCtrl">

  bye
  </div>
  </div>

   <div ng-if="AppUserInformation.SelProgram=='63-npsbsk'" >
  <div ng-controller="PaymentsCtrl">

  bye
  </div>
  </div>

   <div ng-if="AppUserInformation.SelProgram=='64-npsbsk'" >
  <div ng-controller="MagazinesCtrl">

  bye
  </div>
  </div>

   <div ng-if="AppUserInformation.SelProgram=='65-npsbsk'" >
  <div ng-controller="NotesCtrl">

  bye
  </div>
  </div>

   <div ng-if="AppUserInformation.SelProgram=='66-npsbsk'" >
  <div ng-controller="LocatemeCtrl" >

 
    <div style="height:100%;">
   <div >
  
   </div>
  
      <div id="map" data-tap-disabled="true">  can you see this <br>
   and this 
   <br>
   alsoe this</div>
       
    </div>
    <ion-footer-bar class="bar-dark">
      <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate">Find Me</a>
    </ion-footer-bar>


  </div>
  </div>

   <div ng-if="AppUserInformation.SelProgram=='67-npsbsk'" >
  <div ng-controller="LostnfoundCtrl">

  bye
  </div>
  </div>

   <div ng-if="AppUserInformation.SelProgram=='70-npsbsk'" >
  <div ng-controller="ResultsCtrl">

  bye
  </div>
  </div>

    <div ng-if="AppUserInformation.SelProgram=='69-npsbsk'" >
  <div ng-controller="LeavesCtrl">

  bye
  </div>
  </div>
  </ion-content>
</ion-view>