<ion-view view-title="Dashboard App">
<ion-header-bar class="sub-head" style="height:auto; background-color:  #00FFFF;">
      
        <i class="ion-ios-close-empty" style="font-size:46px; color:red;padding-left:15px;" ng-click="rootGoBack()"> </i>
    </ion-header-bar>
    
    <div ng-if="AppUserInformation.ProgramType=='Radio'">
        <div ng-controller='RadioCtrl'>
            <ion-content></ion-content>
        </div>
    </div>
    <!--  <div ng-if="AppUserInformation.SelProgram==14" >
  <div ng-controller='profileCtrl'>

  hello
  </div>
  </div> -->
</div>
<div ng-if="AppUserInformation.ProgramType=='Dairy'">
    <div ng-controller='DiaryCtrl'>
        <div class="card">
            <div class="item item-avatar">
                <img ng-src="{{data.Avatar}}">
                <h2>ting tong 
                    </h2>
                <h3>doink </h3>
                <h4>dkjf;akl</h4>
            </div>
            <div class="item item-body">
                <img class="full-image" src="{{data.Image}}">
                <break>
                    <div>
                        <a style="text-align:right;">read more .. 
  </a>
                    </div>
            </div>
        </div>
    </div>
</div>
</div>
<div ng-if="AppUserInformation.ProgramType=='TimeTable'">
    <div ng-controller=TimetableCtrl>bye
  </div>
</div>
</div>


<div ng-if="AppUserInformation.ProgramType=='Attendance'">
    <ion-pane>
        <div ng-controller="CardsCtrl" class="background-grey">
            <div class="td-title">
                <div class="row">
                    <div class="col">
                        Total: <span>{{ cards.master.length }}</span>
                    </div>
                    <div class="col">
                        Remaining: <span>{{ cards.active.length }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Present: <span>{{ cards.liked.length }}</span>
                    </div>
                    <div class="col">
                        Absent: <span>{{ cards.disliked.length }}</span>
                    </div>
                </div>
            </div>
            <!-- *************************
        TD Cards
        - We start off with an ng-if so that the cards are not generated
          unless $scope.cards is not 'null'
      ************************* -->
            <div ng-if="cards.active">
                <td-cards>
                    <td-card ng-repeat="card in cards.active" on-destroy="cardDestroyed($index)" on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)">
                        <div class="image" ng-controller="CardCtrl">
                            <div class="no-text">
                                <i class="icon ion-thumbsdown"></i>
                            </div>
                            <div class="yes-text">
                                <i class="icon ion-thumbsup"></i>
                            </div>
                            <!-- *************************
                Discard
                - The card is removed from the deck and a fly away animation is triggered.
                - onClickTransitionOut is found in ionic.tdcards.js
                - Animation can be customized by changing defaults
              ************************* -->
                            <div class="discard" ng-click="onClickTransitionOut(card)">{{card.name}}</div>
                            <img image="{{rootAvatarPath + card.avatar}}"></img>
                            <!--<img ng-src="{{ card.avatar }}">-->
                        </div>
                    </td-card>
                    <!-- *************************
            End Card
            - 'drag' is set to false. The user cannot drag it.
            - 'refreshCards()' reloads all cards that have NOT been discarded.
          ************************* -->
                    <td-card id="end-card" drag="false">
                        <i class="icon ion-ios-refresh disable-user-behavior" ng-click="refreshCards()"></i>
                    </td-card>
                </td-cards>
            </div>
        </div>
    </ion-pane>
</div>




<div ng-if="AppUserInformation.ProgramType=='Gallery'">
    <div ng-controller=GalleryCtrl style="height:100vh;"></div>
    <ion-view view-title="Explore">

    <ion-content>
 <div class="card">
  <div class="item item-avatar">
    <img image = "{{rootAvatarPath + data.Avatar}}" image-holder="img/avatar.svg"></img>
      <h2> School annual day <h2>
        <h3>Shreyamsa has posted to gallery</h3>
        <h4>{{data.DateTime}}</h4>
    </div>
 <div>

    <ul class="gallery" style="margin-left:5%;">

    <li class="gallery">

      <a href="#"><img src="http://placehold.it/50x50"></a>

    </li>

    <li class="gallery" style="list-style-type: none;">

      <a href="#"><img src="http://placehold.it/50x50"></a>

    </li>

    <li class="gallery" style="list-style-type: none;">

      <a href="#"><img src="http://placehold.it/50x50"></a>

    </li>

    <li class="gallery" style="list-style-type: none;">

      <a href="#"><img src="http://placehold.it/50x50"></a>

    </li>

    <li class="gallery" style="list-style-type: none;">

      <a href="#"><img src="http://placehold.it/50x50"></a>

    </li>

    <li class="gallery" style="list-style-type: none;">

      <a href="#"><img src="http://placehold.it/50x50"></a>

    </li>

      </ul>
</div>
</div> 

    </ion-content>

</ion-view>
    
</div>
<div ng-if="AppUserInformation.ProgramType=='UserMessages'">
    <div ng-controller=MessagesCtrl>bye
  </div>
</div>
</div>
<div ng-if="AppUserInformation.ProgramType=='Calender'">
    <div ng-controller=CalendarCtrl>bye
  </div>
</div>
</div>
<div ng-if="AppUserInformation.ProgramType=='NoticeBoard'">
    <div ng-controller=NoticeboardCtrl>bye
  </div>
</div>
</div>
<div ng-if="AppUserInformation.ProgramType=='OnlineTest'">
    <div ng-controller=OnlineCtrl>bye
  </div>
</div>
</div>
<div ng-if="AppUserInformation.ProgramType=='Survey'">
    <div ng-controller=SurveyCtrl>bye
  </div>
</div>
</div>
<div ng-if="AppUserInformation.ProgramType=='Assignments'">
    <div ng-controller=AssignmentsCtrl>bye
  </div>
</div>
</div>
<div ng-if="AppUserInformation.ProgramType=='Sylabus'">
    <div ng-controller="SyllabusCtrl">bye
  </div>
</div>
<div ng-if="AppUserInformation.ProgramType=='Payments'">
    <div ng-controller="PaymentsCtrl">bye
  </div>
</div>
<div ng-if="AppUserInformation.ProgramType=='Magazine'">
    <div ng-controller="MagazinesCtrl">bye
  </div>
</div>
<div ng-if="AppUserInformation.ProgramType=='Notes'">
    <div ng-controller="NotesCtrl">bye
  </div>
</div>
<div ng-if="AppUserInformation.ProgramType=='LocateMe'">
    <div ng-controller="LocatemeCtrl">
        <div style="width:100%;height:400px" id="map_canvas"></div>
        Map above

    
    
    
    
    
    </div>
</div>
<div ng-if="AppUserInformation.ProgramType=='LostFound'">
    <div ng-controller="LostnfoundCtrl">bye
  </div>
</div>
<div ng-if="AppUserInformation.ProgramType=='Results'">
    <div ng-controller="ResultsCtrl">bye
  </div>
</div>
<div ng-if="AppUserInformation.ProgramType=='Leaves'">
    <div ng-controller="LeavesCtrl">bye
  </div>
</div>
</ion-view>
