<ion-view view-title="Dashboard App">
  <ion-content >
    
  <div ng-if="AppUserInformation.SelProgram=='51-npsbsk'" >
  <div ng-controller='RadioCtrl'>
 <h1> bye <h1>
  <h1> bye <h1>
   <h1> bye <h1>
 <br>
 <h1> bye <h1>
  </div>
  </div>


<!--  <div ng-if="AppUserInformation.SelProgram==14" >
  <div ng-controller='profileCtrl'>

  hello
  </div>
  </div> -->
  


  </div>
  
   <div ng-if="AppUserInformation.SelProgram=='52-npsbsk'" >
  <div ng-controller='DiaryCtrl'>


   <div class="card">
   <div class="item item-avatar">
      <img ng-src="{{data.Avatar}}">
      <h2> ting tong <h2>
      <h3> doink </h3>
        <h4>dkjf;akl</h4>
   </div>

   <div class="item item-body">
      <img class="full-image" src="{{data.Image}}">
     a;lkdsfj;.
    <break>
    <div>
     <a style="text-align:right;"> read more .. 
  </a>
</div>
</div>
</div>
</div>
  </div>



  </div>
  
   <div ng-if="AppUserInformation.SelProgram=='53-npsbsk'" >
  <div ng-controller=TimetableCtrl>

  bye
  </div>
  </div>


  </div>
  
   <div ng-if="AppUserInformation.SelProgram=='54-npsbsk'" >
  <div ng-controller=AttendanceCtrl>

  bye
  </div>
  </div>


  </div>
  
   <div ng-if="AppUserInformation.SelProgram=='55-npsbsk'" >
  <div ng-controller=GalleryCtrl>

  bye
  </div>
  </div>

  </div>
  
   <div ng-if="AppUserInformation.SelProgram=='56-npsbsk'" >
  <div ng-controller=MessagesCtrl>

  bye
  </div>
  </div>

  </div>
  
   <div ng-if="AppUserInformation.SelProgram=='57-npsbsk'" >
  <div ng-controller=CalendarCtrl>

  bye
  </div>
  </div>

  </div>
  
   <div ng-if="AppUserInformation.SelProgram=='58-npsbsk'" >
  <div ng-controller=NoticeboardCtrl>

  bye
  </div>
  </div>


  </div>
  
   <div ng-if="AppUserInformation.SelProgram=='59-npsbsk'" >
  <div ng-controller=OnlineCtrl>

  bye
  </div>
  </div>

  </div>
  
   <div ng-if="AppUserInformation.SelProgram=='60-npsbsk'" >
  <div ng-controller=SurveyCtrl>

  bye
  </div>
  </div>


  </div>
  
   <div ng-if="AppUserInformation.SelProgram=='61-npsbsk'" >
  <div ng-controller=AssignmentsCtrl>

  bye
  </div>
  </div>

  </div>
  
   <div ng-if="AppUserInformation.SelProgram=='62-npsbsk'" >
  <div ng-controller="SyllabusCtrl">

  bye
  </div>
  </div>

   <div ng-if="AppUserInformation.SelProgram=='63-npsbsk'" >
  <div ng-controller="PaymentsCtrl">

  bye
  </div>
  </div>

   <div ng-if="AppUserInformation.SelProgram=='64-npsbsk'" >
  <div ng-controller="MagazinesCtrl">

  bye
  </div>
  </div>

   <div ng-if="AppUserInformation.SelProgram=='65-npsbsk'" >
  <div ng-controller="NotesCtrl">

  bye
  </div>
  </div>

   <div ng-if="AppUserInformation.SelProgram=='66-npsbsk'" >
  <div ng-controller="LocatemeCtrl">

  bye
  </div>
  </div>

   <div ng-if="AppUserInformation.SelProgram=='67-npsbsk'" >
  <div ng-controller="LostnfoundCtrl">

  bye
  </div>
  </div>

   <div ng-if="AppUserInformation.SelProgram=='70-npsbsk'" >
  <div ng-controller="ResultsCtrl">

  bye
  </div>
  </div>

    <div ng-if="AppUserInformation.SelProgram=='69-npsbsk'" >
  <div ng-controller="LeavesCtrl">

  bye
  </div>
  </div>
  </ion-content>
</ion-view>