
<ion-modal-view view-title="Date Selection" style="height:60vh;width:100%;">

 <ion-header-bar class="sub-head bar-dark" style="position:relative;" >
    <button class="button button-clear button-positive" style="position:relative; width:auto;display:inline;" ng-click="onDateSelectionCancel()">
  <i class="ion-android-cancel" style="font-size:32px; padding-left:8px; position:absolute; color:white;text-align:center;top:0px;"> </i>
</button>

<button class="button button-clear button-positive" style="position:absolute; right:35px; width:auto;display:inline;" ng-click="onDateSelectionOk()">
  <i class="ion-android-done" style="font-size:32px; padding-right:5px; position:absolute; color:white;text-align:center;top:2px;transform: rotate(0deg);"> </i>
</button>


    </ion-header-bar>

      
<ion-content padding="true" overflow-scroll="false">
<br/><br/>
  <div style = "border-style: solid; border-width: 2px;color:grey;">
  <div>
  <input  ng-readonly="true" ng-model= "dateRange.startDate" placeholder="StartDate" ng-click = "OnDateSelectionText(0)" style="width: 70%; background-color: #336699;"></input>
  <br/><br/>
  <input  ng-readonly="true" ng-model= "dateRange.endDate" placeholder="EndDate" ng-click = "OnDateSelectionText(1)" style="width: 70%; background-color: #336699;"></input>
  </div>
 </div>

  </ion-content>
</ion-modal-view>
