<ion-view view-title="Events" ng-controller = "CalendarCtrl">

<ion-header-bar class="sub-head bar-dark" style="position:relative;" >
    <button class="button button-clear button-positive" style="position:relative; width:auto;display:inline;" ng-click="rootGoBack()">
  <i class="ion-ios-close-empty" style="font-size:46px; padding-left:8px; position:absolute; color:white;text-align:center;top:-5px;"> </i>
</button>
 <p class = "title" style="position:absolute;text-align:left;padding-left:25px "> {{AppUserInformation.SelProgName}}</p>
 
    </ion-header-bar>
<ion-content>
 <ion-list ng-repeat="list in eventList">
 <ion-item class="item item-thumbnail-right"  >
 <img ng-if="list.Pic" image={{list.Pic}}></img>
 <h2>{{list.Date}}</h2><br/>
 <p>{{list.Event}}</p>
 </ion-item>
 </ion-list> 
  
</ion-content>
</ion-view>