<html>
 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

 

  </head>
   <ion-view view-title="Instructions" >
    <ion-content padding="true" overflow-scroll="false">
    
  <body>
<h1>How to Start</h1>

<p>

This is an active meditation throughout the meditation you are standing and eyes are closed. Early morning is best time to practice. Once you play the music just follow the instructions.
</p>
<h4>First stage:
10 minutes</h4>
Breathe vigorously and change the rhythm, allowing breath to be chaotic. Be total, never slow down. Breathe chaotically through the nose, concentrating always on the exhalation. the body will take care of the inhalation. do this as fast and as hard as you possibly can – and then a little harder, until you literally become the breathing. use your natural body movements to help you to build up your energy. feel it building up, but don’t let go during the first stage.
<h4>Second stage:
10 minutes</h4>
explode! let go of everything that needs to be thrown out. go totally mad, scream, shout, cry, jump, shake, dance, sing, laugh, throw yourself around. hold nothing back, keep your whole body moving. a little acting often helps to get you started. never allow your mind to interfere with what is happening. be total.
<h4>Third stage:
10 minutes</h4>
With raised arms, jump up and down shouting the mantra ‘hoo! hoo! hoo!’ as deeply as possible. each time you land, on the flats of your feet, let the sound hammer deep into the sex centre. Give all you have, exhausted yourself totally.
<h4>Fourth stage:
15 minutes</h4>
stop! freeze where you are in whatever position you find yourself. Don’t arrange the body in any way. a cough, a movement, anything will dissipate the energy flow and the effort will be lost.  be a witness to everything that is happening to you.
<h4>Fifth stage:
15 minutes</h4>
<p>
CELEBRATE!… Express whatsoever is there, dance, move, enjoy! end of the music slowly open your eyes to witness the new life in and out of you!.
</p>
  </body>
    </ion-content>
     </ion-view>
</html>