<ion-view cache-view="false" view-title="Login" name="login-view" ng-controller="LogInCtrl">
  <ion-content  delegate-handle="simpleScrollAnime" scroll=true class="padding" style="background-image: url({{loginImages.background}}); no-repeat center center fixed; -webkit-background-size: cover;">
      <div   class="vcenter-container" style="background-color:none;">
       <!--    <img ng-src="{{loginImages.logo}}" style="height:15vh; width:auto; position:relative; top:-40px;">
-->

          <label class="item item-input" style="background-color:red;opacity:0.45;border:none; border-bottom: solid; border-bottom-color:black;border-bottom-opacity:0.3;">
              <i class="icon ion-person" style="font-size:26px; color:red;"> </i>
              <input class="form-control1" type="text" placeholder="        Username" ng-model="Credentials.username" style="text-indent: 30px;color:red;">
   
          </label>
          <label class="item item-input"  style="background-color:red;opacity:0.45; border:none">
              <i class="icon ion-locked" style="font-size:24px; color:red;"> </i>
              <input type="password" placeholder="        Password" ng-model="Credentials.password" style="text-indent: 30px; color:red;">
          </label>
           <break>
           <i class="icon ion-log-in" style="font-size:60px; color:red; opacity:.8; position:relative; top:20px;" ng-click="login()"> </i>
      </div>   
  </ion-content>
</ion-view>