<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->

<ion-view title="" cache-view="false" ng-controller= 'newsfeedctrl'>
  
            
           
     <ion-header-bar >
      <ion-nav-buttons side="left">
           <ion-nav-back-button>
  </ion-nav-back-button>
     </ion-header-bar>
       
  <ion-content class="padding">



  <div ng-repeat = "data in newslist" style="text-decoration:none;">

   <div class="card" ng-click = itemclick(data.MsgId) style="position:relative">

   <!--<div class="card" ng-click = itemclick(data)> -->

   <div class="item item-avatar">
    <img image = "{{rootAvatarPath + data.Avatar}}" image-holder="img/avatar.svg"></img>
      <h2> {{data.Heading}} <h2>
       <h3>new post from {{data.Author}}</h3>
       <div style="position:absolute;top:0px;right:4px;">
       <p ng-if = "data.Unread == 0"> read </p>
       <p ng-if = "data.Unread == 1"> unread </p>      
       </div>
        <h4>{{data.DateTime}}</h4>
   </div>

   <div class="item item-body">
    <div ng-if="data.Image!=''">
     <img  image = "{{rootFeedImagePath + data.Image}}" style="max-width:100%" class="full-image"></img> </div>
      {{data.TextPreview}} ...
    <break>
</div>
</div>
</div>


<!--
   <div class="card">
   <div class="item item-avatar">
      <img src="img/sid.jpg">
         <h2> Class news today<h2>
      <h3>Siddanth</h3>
        <h4>2 mins ago</h4>
   </div>

   <div class="item item-body">
      <img class="full-image" src="img/sid.jpg">
      Lorem ipsum dolor sit amet, consecteturcilisis nisi in, tincidunt orci. assa, quis faucibus augue finibus ac.
<break>
    <div>
     <a  href="#/app/readView" style="text-align:right; text-decoration:none;"> read more .. 
  </a>
</div>
</div>
</div>
-->


  </ion-content>
  
  <div ng-if = "AppUserInformation.WritePriv == true">
  <ion-floating-button click="OnComposeClick()" has-footer="false" button-color="#2AC9AA" icon="ion-edit" icon-color="#fff">
 
  </ion-floating-button>
  </div>
     
</ion-view>
   