<ion-view title="Write a post" ng-controller="EditorCtrl" cache-view="false">
  
   <ion-header-bar class="sub-head bar-dark" style="position:relative;" >
    <button class="button button-clear button-positive" style="position:relative; width:auto;display:inline;" ng-click="rootGoBack()">
  <i class="ion-ios-close-empty" style="font-size:46px; padding-left:8px; position:absolute; color:white;text-align:center;top:-5px;"> </i>
</button>

<button class="button button-clear button-positive" style="position:absolute; right:45px; width:auto;display:inline;" ng-click="postMessage()">
  <i class="ion-ios-paperplane-outline" style="font-size:46px; padding-right:25px; position:absolute; color:white;text-align:center;top:-3px;transform: rotate(20deg);"> </i>
</button>

 <p class = "title" style="position:absolute;text-align:left;padding-left:25px "> {{AppUserInformation.SelProgName}}</p>
 
    </ion-header-bar>

   
    <ion-pane> 
        <ion-floating-menu>

            <ion-floating-item ng-if = "AppUserInformation.EditorControls.isCameraEnabled == true" icon="ion-camera" text="Take Photo" click="addImage(1)"></ion-floating-item>
            <ion-floating-item ng-if = "AppUserInformation.EditorControls.isGalleryEnabled == true" icon="ion-image" text="Add Image" click="addImage(0)"></ion-floating-item>
            <ion-floating-item ng-if = "AppUserInformation.EditorControls.isTextEnabled == true" icon="ion-ios-compose-outline" text="Add Text" click="addText()"></ion-floating-item>
            <ion-floating-item ng-if = "AppUserInformation.EditorControls.isHeadingEnabled == true" icon="ion-ios-compose" text="Add Heading" click="addHeading()"></ion-floating-item>
            <ion-floating-item ng-if = "AppUserInformation.EditorControls.isVideoEnabled == true" icon="ion-ios-videocam" text="Add Video" click="addVideo()"></ion-floating-item>
            <ion-floating-item ng-if = "AppUserInformation.EditorControls.isFileEnabled == true" icon="ion-document-text" text="Attach File" click=" addfile()"></ion-floating-item>
            <ion-floating-item ng-if = "AppUserInformation.EditorControls.isDateEnabled == true && AppUserInformation.EditorType == 'compose'" icon="ion-ios-calendar-outline" text="Add Date" click=" AddDateRange()"></ion-floating-item>

          
        </ion-floating-menu>
        <ion-content has-header="true" class="padding">
            <ion-list class="messages item-text-wrap">
                <ion-item class="item-borderless" ng-repeat="message in serverMessage">
                    <!--<pre ng-bind-html="message.content"></pre>-->
                    <div ng-if="message.type=='h1'">
                        <h1>{{message.msg}}</h1>
                    </div>
                    <div ng-if="message.type =='p'">
                        <p>{{message.msg}}</p>
                    </div>
                    <div ng-if="message.type =='img'">
                        <img image="{{rootFeedImagePath + message.msg }}"></img>
                    </div>
                    
                    <div ng-if= "message.type == 'file'">
                        <img src="{{message.msg }}" ng-click = "OnFileClick(message)"></img>
                    </div>

                    <div ng-if="message.type =='date'">
                        <p>Date : {{message.msg}}</p>
                    </div>

                
            </ion-list>
        </ion-content>
        <ion-footer-bar>
            <!--<textarea name="textarea" ng-model="myInput" placeholder={{tPlaceholder}} style="width: 75%; min-width:220px;min-height:90px float:left;"></textarea>
         -->
            <span>
                <!--<button class="button   button-icon button-clear  button-positive ion-plus-circled" ng-click="add()"></button>-->
                <button class="button  button-icon button-clear  ion-android-attach" ng-click="showActionsheet()" nav-direction="back"></button>
            </span>
            <!--      <button class="button button-positive" ng-click="gcmButton()">gcm </button> -->
            <!--           <button class="button button-positive" ng-click="postMessage()">post</button> -->
        </ion-footer-bar>
    </ion-pane>
</ion-view>
