<!DOCTYPE html>
<html>
  <head>
  <title></title>
   <link href="css/style.css" rel="stylesheet">
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no;" />
	<meta charset="utf-8">
	<style type="text/css">
	
	</style>
	 </head>
	  <ion-content padding="true" overflow-scroll="false" ng-controller= 'PlayCtrl'>
  <body >
	  <h2></h2>
  	  <div id="playcontrols">
	  <a id="playbutton" ng-click="play()"><img src="img/playbutton.png" /></a>
	<a id="activityindicator" ng-click="stop()"><img src="img/activityindicator.gif" /></a>
		  <a id="stopbutton" ng-click="stop()"><img src="img/stopbutton.png" /></a>
	  </div>
	  <div id="textpositiondiv">
	   <span id="textposition">stopped</span></div>
	  <script type="text/javascript">
		 
	  </script>

  </body>
   </ion-content>
</html>
