<ion-popover-view class="background-popmenu"  ng-controller = 'popOverCtrl' style="height: {{(55 * popItems.length) + 'px'}}; max-height:60vh; background-color:transparent;">
        <ion-content style="background-color:transparent;" >
          <div class="list background-popmenu" style="background-image : url(img/menuBackground.jpg);" >
          
            <a style="background-color:transparent;" ng-repeat="items in popItems" class="item" ng-href="{{items.ref}}" ng-click = "popover.hide();" >
              <i style="background-color:transparent;font-size:20px;color:white;" class="icon {{items.icon}}" > {{items.text}}</i>
            </a>

        
<!--
            <a class="item" href="http://learn.ionicframework.com/" target="_blank">
              Learn Ionic
            </a>
            <a class="item" href="http://ionicframework.com/docs/" target="_blank">
              Documentation
            </a>
            <a class="item" href="http://showcase.ionicframework.com/" target="_blank">
             <i class="ion-ios-toggle"> OptioShowcase</i>
            </a>
            <a class="item" href="http://ionicframework.com/submit-issue/" tar get="_blank">
              Submit an Issue
            </a>
            <a class="item" href="https://github.com/driftyco/ionic" target="_blank">
              Github Repo
            </a>
-->

          </div> 

          
        </ion-content>
      </ion-popover-view>