 <ion-view  ng-controller = "ProfileLoad">    
    <ion-content >
       <div class="bar bar-header bar-positive">
  <h1 class="title">{{UiLanguageProfile.Title}}</h1>
</div> </br></br>
 <img id="profile-image" src="img/sid.jpg">
 <h3 style = "text-align: center;">{{profile.mName}}</h3>
 </br></br>
 
  <div class="bar bar-positive">
  <h3>{{UiLanguageProfile.DOB}}</h3>
  </div></br></br></br>
  {{profile.mDOB}}
  </br></br>

  <div class="bar bar-positive">
  <h3>{{UiLanguageProfile.Gender}}</h3>
  </div></br></br></br>
  {{profile.mGender}}
  </br></br>

  <div class="bar bar-positive">
  <h3>{{UiLanguageProfile.Grade}}</h3>
  </div></br></br></br>
  {{profile.mGrade}}
  </br></br>
  
  <div class="bar bar-positive">
  <h3>{{UiLanguageProfile.Division}}</h3>
  </div></br></br></br>
  {{profile.mDivision}}
  </br></br>

  <div class="bar bar-positive">
  <h3>{{UiLanguageProfile.EnrollmentNo}}</h3>
  </div></br></br></br>
  {{profile.mEnrollmentNo}}
  </br></br>
 
   <div class="bar bar-positive">
  <h3>{{UiLanguageProfile.BloodGroup}}</h3>
  </div></br></br></br>
  {{profile.mBloodGroup}}
  </br></br>

    <div class="bar bar-positive">
  <h3>{{UiLanguageProfile.ClassTeacher}}</h3>
  </div></br></br></br>
  {{profile.mClassTeacher}}
  </br></br>

    <div class="bar bar-positive">
  <h3>{{UiLanguageProfile.MomName}}</h3>
  </div></br></br></br>
  {{profile.mMother.Name}}
  </br></br>

    <div class="bar bar-positive">
  <h3>{{UiLanguageProfile.MomMobileNo}}</h3>
  </div></br></br></br>
  {{profile.mMother.Mobile}}
  </br></br>
 
 
 
  <h3>{{UiLanguageProfile.FatherName}}: {{profile.mFatherName}}</h3>
  <h3>{{UiLanguageProfile.FatherMobileNo}}: {{profile.mFatherMobileNo}}</h3>
  <h3>{{UiLanguageProfile.HomeAddress}}: {{profile.mHomeAddress}}</h3>


     </ion-content>
      </ion-view>

<!-- <img id="profile-image" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/94311/me.png">



"" : "Grade",
""   : "Division",
"" : "Enrollment No"
"" : "Blood Group",
"" : "Class Teacher",
"" : "Mother Name",
"" : "Father Name",
"" : "Mother Mobile No",
"" : "Father Mobile No",
"" : "Home Address" 

 "mName": "Siddhant.G",
   "": "Male",
   "": "03-12-2012",
   "mBloodGroup": "O+ve",	
   "mClass" : "M1",
   "mDivision" : "E",
   "mClassTeacher" : "Alpana",
   "mEnrollmentNo" : "012345689",
   "mMomName" : "Mother Name",
   "mFatherName" : "Father Name",
   "mMomMobileNo" : "Mother Mobile No",
   "mFatherMobileNo" : "Father Mobile No",
   "mHomeAddress" : "Home Address"


-->