<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->

      <ion-view  title="" cache-view="false" ng-controller="readPageCtrl">
<ion-header-bar class="sub-head bar-dark" style="position:relative;" >
    <button class="button button-clear button-positive" style="position:relative; width:auto;display:inline;" ng-click="rootGoBack()">
  <i class="ion-android-cancel" style="font-size:32px; padding-left:8px; position:absolute; color:white;text-align:center;top:0px;"> </i>
</button>
 <p class = "title" style="position:absolute;text-align:left;padding-left:25px "> {{AppUserInformation.SelProgName}}</p>
 
    </ion-header-bar>
  

      <ion-content>
       <!-- <ion-list class="messages item-text-wrap">
          <ion-item class="item-borderless" ng-repeat="message in messages" > 
          <pre ng-bind-html="message.txt"></pre>
        </ion-list> -->

        <ion-list class="messages item-text-wrap">
          <ion-item class="item-borderless" ng-repeat="message in messages" > 
          <div ng-if = "message.type=='h1'">
          <h1>{{message.msg}}</h1>
          </div>
          <div ng-if = "message.type =='p'">
          <p>{{message.msg}}</p>
          </div>
          <div ng-if = "message.type =='img'">
          <img image = "{{rootFeedImagePath + message.msg }}"></img>
          </div>
          <div ng-if = "message.type =='file'">
          <img src = "{{message.msg}}" ng-click = "OnFileClick(message)"></img>
          </div>  
          <div ng-if="message.type =='date'">
           <p>Date : {{message.msg}}</p>
           </div>
        </ion-list>
      
  
      </ion-content>

  <div ng-if = "canReply == 1">
  <ion-floating-button click="OnReplyClick()" has-footer="false" button-color="#2AC9AA" icon="ion-reply" icon-color="#fff">
 
  </ion-floating-button>
  </div> 
  
</ion-view>
