<ion-modal-view view-title="refer" style="height:60vh;width:100%;">
  <ion-header-bar class="sub-head" style="height:auto; background-color:   rgba(0,212,205,1);">
      <i class="ion-ios-close-empty" style="font-size:46px; color:red;padding-left:15px;" ng-click="OnCancelClick()"> </i>
        <i class="ion-android-done" style="font-size:46px; color:green;position:absolute;right:15px;" ng-click="OnOkClick()"> </i>
 </ion-header-bar>

<ion-content ng-controller="StudentInform">
   
  <!--<div class="card"> -->
  <div class="item item-thumbnail-right">
  <img  src="img/avatar.svg" ng-src="{{myImage}}" ng-click="StudentPhoto()">
 </div>
  <!--</div>-->
   
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Name</span>
                <input type="text" placeholder="First Name" ng-model="Detail.Name">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Parent Name</span>
                <input type="text" placeholder="Parent Name" ng-model="Detail.ParentName">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Mobile Number</span>
                <input type="text" placeholder="Mobile Number" ng-model="Detail.MobileNumber">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Email Id</span>
                <input type="text" placeholder="Email" ng-model="Detail.Email">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Address</span>
                <textarea placeholder="Address" ng-model="Detail.Address"></textarea>
            </label>
            </div>
    </ion-content>


      

</ion-modal-view>
