 <ion-view  ng-controller = "SettingsCtrl">

<ion-header-bar class="sub-head bar-dark" style="position:relative;" >
    <button class="button button-clear button-positive" style="position:relative; width:auto;display:inline;" ng-click="rootGoBack()">
  <i class="ion-android-cancel" style="font-size:32px; padding-left:8px; position:absolute; color:white;text-align:center;top:0px;"> </i>
</button>
 <p class = "title" style="position:absolute;text-align:left;padding-left:25px "> {{AppUserInformation.SelProgName}}</p>
 
    </ion-header-bar>
        
    <ion-content>

<!--
"Title": "Settings",
"NotificationOff" : "Notification Off",
-->

<div class="bar bar-header bar-dark">
<h1 class="title">{{UiLanguageSettings.Language}}</h1>
</div> </br></br>
<div ng-repeat="item in LanguageOptions">
<ion-radio ng-model="choice.langchoice" ng-value="{{item.id}}" ng-change="languageChange({{item.id}})">{{item.name}}</ion-radio>

<!--
<ion-radio ng-model="choice.langchoice" ng-value="1" ng-change="languageChange(1)">{{UiLanguageSettings.Lan2}}</ion-radio>
<ion-radio ng-model="choice.langchoice" ng-value="2" ng-change="languageChange(2)">{{UiLanguageSettings.Lan3}}</ion-radio>
-->

</div>



<div class="bar bar-dark">
  <h1 class="title">{{UiLanguageSettings.ChangePassword}}</h1>
</div> </br></br>


<label class="item item-input">
  <span class="input-label">{{UiLanguageSettings.OldPassword}}</span>
  <input type="password">
</label>

<label class="item item-input">
  <span class="input-label">{{UiLanguageSettings.NewPassword}}</span>
  <input type="password">
</label>

<label class="item item-input">
  <span class="input-label">{{UiLanguageSettings.RepeatPassword}}</span>
  <input type="text">
</label>
</br>

<div style="text-align:center;">
<button class="button button-small button-assertive">
   {{UiLanguageSettings.Change}}
</button>
</div></br></br>

    </ion-content>
</ion-view>

