

</ion-nav-view>


<ion-side-menus >
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark" ng-controller="initCtrl">
     <ion-nav-buttons side="left" >
        <button style="color:rgba(248,134,159,1);"class="button button-icon button-clear ion-navicon" menu-toggle="left">   
             </button>
            </ion-nav-buttons>
      <ion-nav-buttons side="right">
         <div class="buttons">
        <button  style="color:rgba(248,134,159,1);font-size:14;" class="button button-icon ion-ios-toggle-outline" ng-click="popover.show($event)">
        </button>
        </div>
        <button  style="color:rgba(248,134,159,1);font-size:14;" class="button button-icon button-clear ion-ios-keypad-outline" menu-toggle="right">
        </button>

      </ion-nav-buttons>
   
 
    </ion-nav-bar>
    <ion-nav-view name="content"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right" ng-controller="SideMenuCtrl" width = "{{menuWidth}}">
    <ion-pane class="background-grey" >
    <ion-content scroll=true style=" background-image : url('img/menu_background.jpg');" >

      <!--<div class="row menu-top">
        <div class="col col-center">
          <img class="profile-image" ng-src="img/cooper.jpg" animate-ratio="fadeIn"/>
        </div>
      </div> -->

<p style="font-size:13px;color:white;position:relative;top:30px;text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);text-align:center;">Siddant's Dashboard
<br> @ <br>
 National Public School</p>

<div style="position:relative;top:10vh;">
       <div ng-controller="RightMenuCtrl">

        <div ng-repeat="items in rightItems">
          <div class ="row" ng-if="$index%3==0">

            <div style="position:relative;" class="col col-33 col-center" >
    
           <a class="element" ng-href="{{rightItems[$index].ref}}" ng-if = "rightItems[$index]!=undefined" ng-click= "itemclick(rightItems[$index].id,rightItems[$index].runson)">
            <button class="button-circle" animate-ratio="fadeIn"  menu-close>
              <i class="{{rightItems[$index].icon}}"></i>
            </button>
            <div class="icon_text">   {{rightItems[$index].text}} </div>
            <span class="badge badge-dark badge-shadow" style="position:absolute;right:12px;top:-2px">{{rightItems[$index].cnt==0?"":rightItems[$index].cnt}}</span>
            </a>
            
           </div>
           <div style="position:relative;" class="col col-30 col-center">
            <a class="element"  ng-href="{{rightItems[$index+1].ref}}" ng-if = "rightItems[$index+1]!=undefined" ng-click= "itemclick(rightItems[$index+1].id,rightItems[$index+1].runson)">
            <button class="button-circle" animate-ratio="fadeIn"  menu-close>
              <i class="{{rightItems[$index+1].icon}}"></i>
            </button>
            <div class="icon_text">  {{rightItems[$index+1].text}} </div>
             <span class="badge badge-dark badge-shadow" style="position:absolute;right:12px;top:-2px">{{rightItems[$index+1].cnt==0?"":rightItems[$index+1].cnt}}</span>
            </a>
             
        
           </div>

           <div style="position:relative;" class="col col-30 col-center">     
            <a  class="element" ng-href="{{rightItems[$index+2].ref}}" ng-if = "rightItems[$index+2]!=undefined" ng-click= "itemclick(rightItems[$index+2].id,rightItems[$index+2].runson)">
                   <button class="button-circle" animate-ratio="fadeIn"  menu-close>
              <i class="{{rightItems[$index+2].icon}}"></i>
            </button>
          <div class="icon_text"> {{rightItems[$index+2].text}} </div>
          <span class="badge badge-dark badge-shadow" style="position:absolute;right:12px;top:-2px">{{rightItems[$index+2].cnt==0?"":rightItems[$index+2].cnt}}</span>
            </a>
            
           </div>

           <!--<div class="col col-center"> -->
          </div>
          </div>   
          </div>




<!--
      <div class="menu-middle" ng-controller="RightMenuCtrl">

        <div class="row">
          <div class="col col-center">
            <a ng-href="{{rightItems[0].ref}}">
            <button class="button-circle" animate-ratio="fadeIn"  menu-close>
              <i class="{{rightItems[0].icon}}"></i>
            </button>
            </a>

          </div>
          <div class="col col-center">
           <a ng-href="{{rightItems[1].ref}}">
            <button class="button-circle" animate-ratio="fadeIn"  menu-close>
              <i class="{{rightItems[1].icon}}"></i>
            </button>
            </a>
          </div>
          <div class="col col-center" ng-controller="PlayCtrl" >
            <button class="button-circle" animate-ratio="fadeIn"  menu-close >
              <i class="{{rightItems[2].icon}}"> </i>
             
            </button>
          </div>
        </div>

        <div class="row">
          
          <div class="col col-center" ng-controller="InstructionsCtrl">
            <button class="button-circle" animate-ratio="fadeIn"  menu-close>
              <i class="{{rightItems[3].icon}}"> </i>  
           
 
    
            </button>
    
          </div>
           
          <div class="col col-center" ng-controller="extranoteCtrl">
            <button class="button-circle" animate-ratio="fadeIn"  menu-close>
              <i class="{{rightItems[4].icon}}"></i>
            </button>
          </div>
          <div class="col col-center">
            <button class="button-circle" animate-ratio="fadeIn"  menu-close>
              <i class="{{rightItems[5].icon}}"</i>
            </button>
          </div>
        </div>
      </div>



      <div class="menu-bottom" animate-ratio="slideUp">
          <button class="button-circle">
            <i class="ion-person"></i>
        </div>
      </div> -->
      </div>
    </ion-content>
    </ion-pane>
  </ion-side-menu>



<ion-side-menu side="left" ng-controller="SideMenuCtrl" width = "{{menuWidth}}" >
    <ion-pane >
   
     <!-- <div class="menu-bottom" animate-ratio="slideUp">
          <button class="button-circle">
            <i class="ion-erlenmeyer-flask"></i>
        </div>-->
     
     <ion-content scrollbar-x="false" scrollbar-y="false" class="background-leftmenu" style="background-image : url(img/menu_background.jpg);"  >
 <div class="item-avatar" >
  <img src="img/g74.png" style="height:15vh; width:15vh; max-width:150px;max-height:150px;border: 3px solid white;box-shadow: 0px 0px 7px rgba(0,0,0,0.7);position:absolute;left:30vw;top:6vh;">
   </img> </div>
      
<div style="display:block;position:relative;padding-top:16vh;">
         <ion-list >
        <div ng-repeat="group in groups">

          <ion-item id = "menulink" ng-if = "group.ref==''" ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
                 <i style="font-size:24px;" class="icon {{group.icon}}"  ></i> &nbsp {{group.name}} <span class="badge badge-dark badge-shadow">{{group.cnt==0?"":group.cnt}}</span>  
            
              <i style="position:absolute;right:90px;" class="icon" right:"5px" ng-class="isGroupShown(group) ? 'ion-ios-arrow-down' : 'ion-ios-arrow-right'"></i>
          </ion-item>


          <ion-item  id = "mainmenu" ng-if = "group.ref!=''" ng-href="{{group.ref}}" ng-click = "itemclick(group.id,group.runson)" menu-close>
         
          <i style="font-size:24px;" class="icon {{group.icon}}"></i> &nbsp {{group.name}}<span class="badge badge-dark  badge-shadow">{{group.cnt==0?"":group.cnt}}</span>
          
          </ion-item>

          <ion-item id = "submenu"
                    ng-repeat="item in group.items"
                    ng-show="isGroupShown(group)" ng-href={{item.ref}} ng-click = "itemclick(item.id,item.runson)" menu-close>
                <i style="font-size:24px;" class="icon {{item.icon}}"></i> &nbsp {{item.name}}<span class="badge badge-shadow badge-dark">{{item.cnt==0?"":item.cnt}}</span> 
                         
          </ion-item>
          

        </div>
      </ion-list>
      </div>
          </ion-content> 


      <!--    <ion-content  ng-controller="SideMenuCtrl" ng-class="theme" >
        <div class="sidemenu-header">
          <img src="img/menuimage.jpg"/>
        </div>
        <ion-list ng-if="load!=undefined">
          <ionic-sidemenu tree="tree"></ionic-sidemenu>
        </ion-list>
    </ion-content> -->



     

    </ion-pane>
  </ion-side-menu>

  
</ion-side-menus>
