<ion-side-menus>
    <ion-side-menu-content>
        <ion-nav-bar class="bar-dark" ng-controller="initCtrl" title ="Vidhyaan">
            <ion-nav-buttons side="left">
                <button style="color:rgba(255,255,255,1);" class="button button-icon button-clear ion-navicon" menu-toggle="left">
                    <span class="badge badge-assertive header-badge" ng-show="{{feedNotificationBadge}}"></span>
                </button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <div class="buttons">
                    <button style="color:rgba(255,255,255,1);font-size:12;" class="button button-icon ion-ios-gear-outline" ng-click="popover.show($event)"></button>
                </div> 
                <button style="color:rgba(255,255,255,1);font-size:14;" class="button button-icon button-clear ion-ios-keypad-outline" menu-toggle="right">
                    <span class="badge badge-assertive header-badge" ng-show="{{appNotificationBadge}}"></span>
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="content"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="right" ng-controller="RightMenuCtrl" width="{{menuWidth}}">
         <ion-header-bar class="bar-dark">
            <h4 class="title">{{AppUserInformation.firstName}}'s Dashboard</h4>
            
          </ion-header-bar>
        <ion-pane class="background-grey">
            <ion-content scroll=true style=" background-image : url('img/menuBackground.jpg');background-size: cover;">
                <!--<div class="row menu-top">
        <div class="col col-center">
          <img class="profile-image" ng-src="img/cooper.jpg" animate-ratio="fadeIn"/>
        </div>
      </div> -->
       
               <div style="position:relative;top:5vmin">
                    <div>
                        <div ng-repeat="items in rightItems">
                            <div class="row" ng-if="$index%3==0">
                                <div style="position:relative;" class="col col-33 col-center">
                                    <a class="element" ng-if="rightItems[$index]!=undefined" ng-click="itemclick(rightItems[$index])" menu-close>
                                        <button style="box-shadow:2px 2px 4px rgba(0, 0, 0, 0.4);" class="button-circle" animate-ratio="fadeIn">
                                            <i class="{{rightItems[$index].icon}}"></i>
                                        </button>
                                        <div style="text-shadow:3px 3px 4px rgba(0, 0, 0, 0.8);" class="icon_text">{{rightItems[$index].text}} </div>
                                        <span class="badge badge-dark badge-shadow" style="position:absolute;right:12vmin;top:-2px">{{rightItems[$index].cnt==0?"":rightItems[$index].cnt}}</span>
                                    </a>
                                </div>
                                <div style="position:relative;" class="col col-30 col-center">
                                    <a class="element"  ng-if="rightItems[$index+1]!=undefined" ng-click="itemclick(rightItems[$index+1])" menu-close>
                                        <button style="box-shadow:2px 2px 4px rgba(0, 0, 0, 0.4);" class="button-circle" animate-ratio="fadeIn">
                                            <i class="{{rightItems[$index+1].icon}}"></i>
                                        </button>
                                        <div style="text-shadow:3px 3px 4px rgba(0, 0, 0, 0.8);" class="icon_text">{{rightItems[$index+1].text}} </div>
                                        <span class="badge badge-dark badge-shadow" style="position:absolute;right:12vmin;top:-2px">{{rightItems[$index+1].cnt==0?"":rightItems[$index+1].cnt}}</span>
                                    </a>
                                </div>
                                <div style="position:relative;" class="col col-30 col-center">
                                    <a class="element"  ng-if="rightItems[$index+2]!=undefined" ng-click="itemclick(rightItems[$index+2])" menu-close>
                                        <button style="box-shadow:2px 2px 4px rgba(0, 0, 0, 0.4);" class="button-circle" animate-ratio="fadeIn">
                                            <i class="{{rightItems[$index+2].icon}}"></i>
                                        </button>
                                        <div style="text-shadow:3px 3px 4px rgba(0, 0, 0, 0.8);" class="icon_text">{{rightItems[$index+2].text}} </div>
                                        <span class="badge badge-dark badge-shadow" style="position:absolute;right:12vmin;top:-2px">{{rightItems[$index+2].cnt==0?"":rightItems[$index+2].cnt}}</span>
                                    </a>
                                </div>
                                <!--<div class="col col-center"> -->
                            </div>
                        </div>
                    </div>
                    <!--
      <div class="menu-middle" ng-controller="RightMenuCtrl">

        <div class="row">
          <div class="col col-center">
            <a ng-href="{{rightItems[0].ref}}">
            <button class="button-circle" animate-ratio="fadeIn"  menu-close>
              <i class="{{rightItems[0].icon}}"></i>
            </button>
            </a>

          </div>
          <div class="col col-center">
           <a ng-href="{{rightItems[1].ref}}">
            <button class="button-circle" animate-ratio="fadeIn"  menu-close>
              <i class="{{rightItems[1].icon}}"></i>
            </button>
            </a>
          </div>
          <div class="col col-center" ng-controller="PlayCtrl" >
            <button class="button-circle" animate-ratio="fadeIn"  menu-close >
              <i class="{{rightItems[2].icon}}"> </i>
             
            </button>
          </div>
        </div>

        <div class="row">
          
          <div class="col col-center" ng-controller="InstructionsCtrl">
            <button class="button-circle" animate-ratio="fadeIn"  menu-close>
              <i class="{{rightItems[3].icon}}"> </i>  
           
 
    
            </button>
    
          </div>
           
          <div class="col col-center" ng-controller="extranoteCtrl">
            <button class="button-circle" animate-ratio="fadeIn"  menu-close>
              <i class="{{rightItems[4].icon}}"></i>
            </button>
          </div>
          <div class="col col-center">
            <button class="button-circle" animate-ratio="fadeIn"  menu-close>
              <i class="{{rightItems[5].icon}}"</i>
            </button>
          </div>
        </div>
      </div>



      <div class="menu-bottom" animate-ratio="slideUp">
          <button class="button-circle">
            <i class="ion-person"></i>
        </div>
      </div> -->
                </div>
            </ion-content>
        </ion-pane>
    </ion-side-menu>
    <ion-side-menu side="left" ng-controller="SideMenuCtrl" cache-view="false" width="{{menuWidth}}">
        <ion-pane>
            <!-- <div class="menu-bottom" animate-ratio="slideUp">
          <button class="button-circle">
            <i class="ion-erlenmeyer-flask"></i>
        </div>-->
            <ion-content scrollbar-x="false" scrollbar-y="false" class="background-leftmenu" style="background-image : url(img/menuBackground.jpg);background-size: cover;">
                <div class="item-avatar">
                    <img image="{{rootSlidePath + orgLogo}}" style="height:30vmin; width:30vmin; max-width:30vmin;max-height:30vmin;border: 0.8vmin solid white;box-shadow: 0vmin 0vmin 0.8vmin rgba(0,0,0,0.7);position:absolute;left:28vmin;top:10vmin;"></img>
                </div>
                <div style="display:block;position:relative;padding-top:16vh;">
                    <ion-list>
                        <div ng-repeat="group in groups">
                            <ion-item id="menulink" ng-if="group.ref==''" ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
                                <i style="font-size:6vmin;" class="icon {{group.icon}}"></i>
                                &nbsp {{group.name}} <span class="badge badge-dark badge-shadow">{{group.cnt==0?"":group.cnt}}</span>
                                <i style="position:absolute;right:10vmin;" class="icon" ng-class="isGroupShown(group) ? 'ion-ios-arrow-down' : 'ion-ios-arrow-right'"></i>
                            </ion-item>
                            <ion-item id="mainmenu" ng-if="group.ref!=''"  ng-click="itemclick(group)" menu-close>
                                <i style="font-size:6vmin;" class="icon {{group.icon}}"></i>
                                &nbsp {{group.name}}<span class="badge badge-dark  badge-shadow">{{group.cnt==0?"":group.cnt}}</span>
                            </ion-item>
                            <ion-item id="submenu" ng-repeat="item in group.items" ng-show="isGroupShown(group)"  ng-click="itemclick(item)" menu-close>
                                <i style="font-size:6vmin;" class="icon {{item.icon}}"></i>
                                &nbsp {{item.name}}<span class="badge badge-shadow badge-dark">{{item.cnt==0?"":item.cnt}}</span>
                            </ion-item>
                        </div>
                    </ion-list>
                </div>
            </ion-content>
            <!--    <ion-content  ng-controller="SideMenuCtrl" ng-class="theme" >
        <div class="sidemenu-header">
          <img src="img/menuimage.jpg"/>
        </div>
        <ion-list ng-if="load!=undefined">
          <ionic-sidemenu tree="tree"></ionic-sidemenu>
        </ion-list>
    </ion-content> -->
        </ion-pane>
    </ion-side-menu>
</ion-side-menus>
