<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.kshipra.Vidhyaan" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Vidhyaan</name>
  <description>&#xD;&#xD;
&#xD;&#xD;
        Vidyaan educational app&#xD;&#xD;
&#xD;&#xD;
    </description>
  <author email="you@example.com" href="http://example.com.com/">&#xD;&#xD;
&#xD;&#xD;
      Your Name Her&#xD;&#xD;
&#xD;&#xD;
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <allow-navigation href="http://*/*"/>
  <allow-intent href="*"/>
  <preference name="orientation" value="portrait"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="SplashScreenDelay" value="2000"/>
  <preference name="AutoHideSplashScreen" value="false"/>
  <preference name="ShowSplashScreenSpinner" value="false"/>
  <preference name="FadeSplashScreenDuration" value="200"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen"/>
  <feature name="StatusBar">
    <param name="ios-package" onload="true" value="CDVStatusBar"/>
  </feature>
  <platform name="android">
    <preference name="android-minSdkVersion" value="16"/>
    <preference name="android-targetSdkVersion" value="22"/>
    <icon src="resources\android\icon\drawable-ldpi-icon.png" density="ldpi"/>
    <icon src="resources\android\icon\drawable-mdpi-icon.png" density="mdpi"/>
    <icon src="resources\android\icon\drawable-hdpi-icon.png" density="hdpi"/>
    <icon src="resources\android\icon\drawable-xhdpi-icon.png" density="xhdpi"/>
    <icon src="resources\android\icon\drawable-xxhdpi-icon.png" density="xxhdpi"/>
    <icon src="resources\android\icon\drawable-xxxhdpi-icon.png" density="xxxhdpi"/>
    <splash src="resources\android\splash\drawable-port-ldpi-screen.png" density="port-ldpi"/>
    <splash src="resources\android\splash\drawable-port-mdpi-screen.png" density="port-mdpi"/>
    <splash src="resources\android\splash\drawable-port-hdpi-screen.png" density="port-hdpi"/>
    <splash src="resources\android\splash\drawable-port-xhdpi-screen.png" density="port-xhdpi"/>
    <splash src="resources\android\splash\drawable-port-xxhdpi-screen.png" density="port-xxhdpi"/>
    <splash src="resources\android\splash\drawable-port-xxxhdpi-screen.png" density="port-xxxhdpi"/>
  </platform>
  <icon src="resources\android\icon\drawable-xhdpi-icon.png"/>
  <plugin name="cordova-sqlite-storage" spec="~1.4.6"/>
  <plugin name="com.megster.cordova.FileChooser" spec="https://github.com/don/cordova-filechooser"/>
  <plugin name="cordova-plugin-filepath" spec="~1.0.2"/>
  <plugin name="cordova-plugin-file-opener2" spec="~2.0.2"/>
  <plugin name="cordova-plugin-x-toast" spec="https://github.com/EddyVerbruggen/Toast-PhoneGap-Plugin.git"/>
  <plugin name="cordova-plugin-datepicker" spec="https://github.com/VitaliiBlagodir/cordova-plugin-datepicker.git"/>
</widget>