/* Background */
.background-grey {
 /* background-color: #455A64;*/
 background-image : url("/img/menu_background.jpg");


}

.background-lighgrey {
  background-color: #B0BEC5;
}

.background-leftmenu {
  /*background-color: greenyellow;*/
}


.background-leftmenu .item {
  background-image : url("/img/menu_background.jpg");
  border:none;   /*Removes all borders*/
  border-top: 1px solid;   /*Top Border for each menu item*/
  border-bottom:2px solid;   /*Bottom border for each menu item*/
  border-color: #666;   /*Sets colors for top and bottom border*/
  color: white;    /*Text color for each item*/
}

#submenu {
  /*background-color: green;*/
   background: rgba(0,0,255,0.2);
 
}

#mainmenu, #menulink {
 /* background-color: yellow;*/
  /*background: rgba(128,0,0,0.1);*/
  
}


.background-leftmenu .item-complex .item-content, .dark .item-radio .item-content {
  background-color: transparent;
}

#submenu:hover , #mainmenu:hover, #menulink:hover {
  
  box-shadow: inset 0px 0px 0px 8px rgba(102,0,0,0.1);
  background: rgba(102,0,0,0.8);
}


.testBackGnd {
	background-color: black;
}

/* Top */
.menu-top {
  height: 40%;
}

/* Middle */
.menu-middle {
  height: 40%;
}

.scroll-bar-indicator
{
	display: none;
}
/* Bottom */
.menu-bottom {
  position:relative;
  height: 20%;
  background-color: #37474F;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

/* Components */
.col.col-center{

   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row
   flex-direction: row;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
  
}

.element{
text-align:center; 
text-decoration: none;
color:white;
}


/*for login screen*/
.vcenter-container{
   height: 70vh;
   width: 100vh;
   background: none;
   margin:10px;
   padding:30px;
   text-align: center;
   display:table-cell;
  vertical-align:middle;
 
}


#profile-image {
        display: block;
        border-radius: 100px;
        border: 1px solid #fff;
        width: 100px;
        height: 100px;
        margin: 30px auto 0;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
      }

/* Profile Image 
.profile-image {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 10px solid #546E7A;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}*/

.profile-image:hover {
  border: 3px solid white;
}

/* Buttons */
.button-circle {
  width: 60px;
  height: 60px;
  color: white;
  border-radius: 50%;
  background-color: #546E7A;
  border: 3px solid #546E7A;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
   
}

.button-circle i {
   
  font-size: 1.5em;
  color: white;
}

.row-circle buttonLabel {
 display:inline-block;
font-size:9px;
 margin-top:35px;
 align-items: baseline

}

.button-circle:hover {
  border: 3px solid white;
  background-color: #455A64;
  -webkit-transform: scale(1.2) !important;
  transform: scale(1.2) !important;
}

.button-circle.rotate-15 {
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

.button-circle.rotate-15 + h3 {
  display:inline-block;
  margin-left: 10px;
  color: #37474F;
}



.menu-bottom .button-circle {
  position: absolute;
  left: 50%;
  top: -25px;
  background-color: #26C6DA;
  border: 3px solid #26C6DA;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}


#playcontrols {
			text-align: center;
			margin-top: 50px;
		}
		#playcontrols #activityindicator, #playcontrols #stopbutton {
			display: none;
		}
		
		#textpositiondiv {
			text-align: center;
			margin-top: 100px;
		}


.slider {
  max-height: 30vh;
  height: 100%;
  width: 100%;
  padding-top: 0px;
  margin-top: 0px;
   margin-bottom: 0px;
     margin-left: 0px;
    border-style: solid;
    border-width: 0px;

  color: #000;
  background-color: #fff;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;

  border-color: white;
  
}

.profile-bg
{

   /*color: #000;*/
  background-color: greenyellow;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  text-align: center;
  border-color: white;
   border-style: solid;
    border-width: 10px;
}



.slider-slide {

  padding-top: 0px;
  color: #000;
  background-color: #fff;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
   height: 100%;
   width:100%;
}

.slider-slide img {

 vertical-align:top-text;
  
    height: auto;
    width : 100%;
   
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}

.columnsMenu {
  columns: 3;
  height: 100vh;
}


.messages {
	margin-top:0px;
	margin-bottom:0px;
	padding-top:0px;
	font-family:inherit;
	list-style-type:none;
	height:auto;

	word-wrap: break-word;
	white-space: pre-wrap;
	border:none;
}

.messages li {
	padding-top:0px;
	margin-top:0px
	display:block;
	clear:both;
	max-width:100%;
	margin:0 0 0 0;
	padding-left:0;
	word-wrap: break-word;

	border: none;
}

.messages .item {

	border-top: none;
  border-bottom:none;
  margin-top: 0px;
  margin-bottom: -15px;
}

.messages p {
	border: none;
	background:none;
	 font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	color:#383641;
	padding:0;
	margin:0;
	font-size:.875rem;
	hight: auto;
	word-wrap: break-word;
    white-space: pre-wrap;
}

.messages h1 {
	border: none;
	background:none;
	 font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: bold;
	color:#383641;
	padding: 0;
	margin:0;
	font-size: 1.475rem;
	hight: auto;
	word-wrap: break-word;
    white-space: pre-wrap;
}


.messages img {
	display:block;
	max-width:100%;
	border-radius:.75rem;
}

.messages progress[value]::-webkit-progress-bar {

}

progress[value] {
  width: 80%;
  height: 10px;
}