
<ion-view view-title="Instructions">
    <ion-content padding="true" overflow-scroll="false">
    
  <body>
<h1>Benefits</h1>
<h4>Benefits of Osho dynamic meditation

</h4>

<p>
Dynamic Meditation is one of the most scientific methods to heal and to create integrity between the three parts of the body - the body, mind and heart - and between the three brains.
First stage: "fire" breathing, works on the reptilian brain, allowing us to break free of the control of the higher brain. So emotions and instincts are freed up.
The second stage, catharsis, works on the mammalian brain, by cleaning the blocked emotions and freeing old mental memories and shocks.  
</p>
<p>
In the third stage, of jumping and hammering the first chakra with sound, you move the energy up to the high part of the body, and by so doing return to a deep sense of integrity. You can get to a point when you are jumping totally effortlessly for fifteen minutes.
</p>
<p>
According to the system of acupuncture, there are several energy points in the soles of the feet that are very important. We discovered through our machines that by impacting the soles of the feet - as you do in the third stage - you positively impact the brain, hence the significance of landing on the flat of the feet, including the heel.  
By the fourth stage - of stopping suddenly and remaining as if frozen - the whole system is already in a deep unity and the energy moves freely through all the body. You are no longer fragmented but have a fluid being. This is the base ground from which you can go into the experience of yourself. As Osho has said, all the other stages are preparatory: this is the point at which meditation can be experienced.</p>
 </p> 
  </body>
    </ion-content>
     </ion-view>
