<html>
 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

 

  </head>
   <ion-view view-title="Instructions" >
    <ion-content padding="true" overflow-scroll="false">
    
  <body>
<h1>Note</h1>
<h4>Caution:

</h4>

<p>
 Practice Dynamic Meditation in a safe location and not near the edge of a cliff or on a hard surface where one might fall down. A large room or Outdoors in the early morning on a soft and well tended lawn with group participation is best.  Do it on an empty stomach and avoid falling into dangerous objects such as windows.  It is ok to briefly open your eyes occasionally to maintain your location.
 </p>
<h4>
Extra note: </h4> 
<p>if your meditation space prevents you from making a noise, you can do this silent alternative: rather than throwing out the sounds, let the catharsis in the second stage take place entirely through bodily movements. in the third stage the sound ‘hoo’ can be hammered silently inside and the fifth stage can become an expressive dance.
  </p> 
  </body>
    </ion-content>
     </ion-view>
</html>