<ion-view view-title="Adhyaan" ng-controller='slideCtrl'>
  
  <ion-content>
   <!--   <button class="button-circle rotate-15">
        <i class="ion-arrow-up-c"></i>
      </button> -->
    <!--  <h3>Dynamic Meditation</h3> -->
  
  <div class = "slider">
      <ion-slide-box  
            does-continue="true"  disable-scroll="false"
            show-pager='true'
            slide-interval="3000"
            auto-play="true"on-slide-changed="slideChanged(index)">
          <ion-slide ng-repeat="slide in slides">
           <img src="{{'img/'+slide.name}}" </img>
            <p> {{slide.msg}} </p>
            
          </ion-slide>
       
          </div>

      <div class="item-avatar">
          <img src= "img/sid.jpg" style= "width:350px;height:350px;max-width:100px;max-height:100px;border: 3px solid white;box-shadow: 0px 0px 7px rgba(0,0,0,0.7);position:absolute;right:10px;top:23vh;z-index:1"> 
       </img> </div>
          
          <div style="text-align:right;position:relative;background-color:transparent;top:-80px;left:-45px;">
          <h4 style="color:black;position:relative;top:3px;left:5px;text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);">Siddhant Gautham</h4>
          <font style="color:black;;position:relative;left:5px;text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);">M1 E div </font>
   
          <font style="color:black;;position:relative; left:5px;text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);">**Naughty**</font>
          </div>
    

<br>
<div style="position:relative;top:-70px">
<p style="color:grey;position:relative;top:3px;text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);text-align:center;">Siddhant's Time Line @ National Public School</p>
          
      <section id="cd-timeline" class="cd-container" ng-controller='PicturesCtrl'>
          <div ng-repeat="activity in timeline">
            <div class="cd-timeline-block">
              <div class="cd-timeline-picture dark">
                <img ng-src={{activity.profilePicture}}></img>
              </div>
              <!-- cd-timeline-img -->
              <div class="cd-timeline-content dark">
                <h5 class="marginBottom0 marginTop0">{{activity.title}}</h5>
                <p class="marginTop5 cd-author">by {{activity.author}} on {{activity.date | date: "d MMM"}}</p>
                <p class="timelineText">{{activity.text}}</p>
              </div>
            </div>
          </div>
        </section>
     </div>    
  </ion-content>
  
</ion-view>