<ion-view view-title="Adhyaan" ng-controller='slideCtrl'>
  
  <ion-content>
   <!--   <button class="button-circle rotate-15">
        <i class="ion-arrow-up-c"></i>
      </button> -->
    <!--  <h3>Dynamic Meditation</h3> -->
  <div class = "slider">
      <ion-slide-box  
            does-continue="true"  disable-scroll="false"
            show-pager='true'
            slide-interval="3000"
            auto-play="true"on-slide-changed="slideChanged(index)">
          <ion-slide ng-repeat="slide in slides">
           <img src="{{'img/'+slide.name}}" </img>
            <p> {{slide.msg}} </p>
            
          </ion-slide>
          </div>

       <div class="card" >
          <div class="item item-avatar" style="background-color:#8258FA;">
          <img src= "img/sid.jpg" style= "width:300px;height:300px;max-width:100px;max-height:100px;border: 3px solid white;"> 
          <br/>
          <div style="text-align:center;">
          <h2 style="color:white">Siddhant Gautham</h2>
          <h2 style="color:white">M1 E div</h1>
          <h2 style="color:white">**Naughty**</h2>
          </div>
          </div>
<div>
      <section id="cd-timeline" class="cd-container" ng-controller='PicturesCtrl'>
          <div ng-repeat="activity in timeline">
            <div class="cd-timeline-block">
              <div class="cd-timeline-picture dark">
                <img ng-src={{activity.profilePicture}}></img>
              </div>
              <!-- cd-timeline-img -->
              <div class="cd-timeline-content dark">
                <h5 class="marginBottom0 marginTop0">{{activity.title}}</h5>
                <p class="marginTop5 cd-author">by {{activity.author}} on {{activity.date | date: "d MMM"}}</p>
                <p class="timelineText">{{activity.text}}</p>
              </div>
            </div>
          </div>
        </section>
     </div>    
  </ion-content>
  
</ion-view>