<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->

<ion-view>
  <ion-content class="padding">
   <div class="card">
   <div class="item item-avatar">
      <img src="img/sid.JPG">
      <h2> This month in the school <h2>
      <h3>Siddanth</h3>
        <h4>32 mins ago</h4>
   </div>

   <div class="item item-body">
      <img class="full-image" src="img/my-image.jpg">
      Loreidunt bus augue finibus ac dnt bus augue finibus a nt bus augue finibus a
    <break>
    <div>
     <a  href="#/app/readView" style="text-align:right; text-decoration:none;"> read more .. 
  </a>
</div>
</div>
</div>
   <div class="card">
   <div class="item item-avatar">
      <img src="img/sid.jpg">
         <h2> Class news today<h2>
      <h3>Siddanth</h3>
        <h4>2 mins ago</h4>
   </div>

   <div class="item item-body">
      <img class="full-image" src="img/sid.jpg">
      Lorem ipsum dolor sit amet, consecteturcilisis nisi in, tincidunt orci. assa, quis faucibus augue finibus ac.
<break>
    <div>
     <a  href="#/app/readView" style="text-align:right; text-decoration:none;"> read more .. 
  </a>
</div>
</div>
</div>
  </ion-content>
  
       <fab-button target-id="scrollFabButtonTarget">
        <a class="icon ion-plus-round" style="text-align:center;"  href="#/app/newsPostEditor" ></a> 
  <!--    <i class="icon ion ion-android-create"></i>
  -->  </fab-button>
     
</ion-view>
   