<ion-popover-view  ng-controller = 'popOverCtrl' style="height: {{(56 * popItems.length) + 'px'}}; max-height:70vh">
        <ion-content>
          <div class="list">
          
            <a  ng-repeat="items in popItems" class="item" ng-href="{{items.ref}}" ng-click = "popover.hide();" >
              <i class="{{items.icon}}"> {{items.text}}</i>
            </a>

        
<!--
            <a class="item" href="http://learn.ionicframework.com/" target="_blank">
              Learn Ionic
            </a>
            <a class="item" href="http://ionicframework.com/docs/" target="_blank">
              Documentation
            </a>
            <a class="item" href="http://showcase.ionicframework.com/" target="_blank">
             <i class="ion-ios-toggle"> OptioShowcase</i>
            </a>
            <a class="item" href="http://ionicframework.com/submit-issue/" tar get="_blank">
              Submit an Issue
            </a>
            <a class="item" href="https://github.com/driftyco/ionic" target="_blank">
              Github Repo
            </a>
-->

          </div> 

          
        </ion-content>
      </ion-popover-view>