 <ion-view  ng-controller = "SettingsCtrl">    
    <ion-content>

<!--
"Title": "Settings",
"NotificationOff" : "Notification Off",
-->




<div class="bar bar-header bar-positive">
<h1 class="title">{{UiLanguageSettings.Language}}</h1>
</div> </br></br>
<div>
<ion-radio ng-model="choice.langchoice" ng-value="0" ng-change="languageChange(0)">{{UiLanguageSettings.Lan1}}</ion-radio>
<ion-radio ng-model="choice.langchoice" ng-value="1" ng-change="languageChange(1)">{{UiLanguageSettings.Lan2}}</ion-radio>
<ion-radio ng-model="choice.langchoice" ng-value="2" ng-change="languageChange(2)">{{UiLanguageSettings.Lan3}}</ion-radio>
</div>



<div class="bar bar-positive">
  <h1 class="title">{{UiLanguageSettings.ChangePassword}}</h1>
</div> </br></br>


<label class="item item-input">
  <span class="input-label">{{UiLanguageSettings.OldPassword}}</span>
  <input type="password">
</label>

<label class="item item-input">
  <span class="input-label">{{UiLanguageSettings.NewPassword}}</span>
  <input type="password">
</label>

<label class="item item-input">
  <span class="input-label">{{UiLanguageSettings.RepeatPassword}}</span>
  <input type="text">
</label>
</br>

<div style="text-align:center;">
<button class="button button-small button-assertive">
   {{UiLanguageSettings.Change}}
</button>
</div></br></br>

<div class="bar bar-positive">
  <h1 class="title">{{UiLanguageSettings.EnableNotification}}</h1>
</div> </br></br>

<div>
<ion-toggle ng-model="choice.notichoice" ng-checked="{{choice.notichoice}}" toggle-class="toggle-calm" ng-Change = "NotificationChange()">{{notificationstatus}}</ion-toggle> 
</div>


    </ion-content>
</ion-view>

